<!doctype html>
<html ng-app="purchaseApp">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>

<body ng-controller="ExampleController">

    <div class="page-header">

        <h1> Список покупок </h1>
    </div>


    <div ng-controller="ExampleController" class="panel">

        <div class="form-inline">
            <form ng-submit="submit()">

                <div class="form-group">
                    <input class="form-control" type="text" ng-model="text" name="text" placeholder="Название" />
                </div>
                    
                    <input type="submit" id="submit" value="Submit"/>
                    

                <div>
                    <label>
                        <input class="form-control" type="checkbox" ng-model="all" />All todo
                    </label>
                    <label>
                        <input class="form-control" type="checkbox" ng-disabled="all" ng-value="false" ng-model="options.done" />Done todo
                    </label>
                </div>
                
            </form>
        </div>

        <table class="table table-striped">

            <thead>

                <tr>
                    <th>Предмет</th>
                    <th>Куплено</th>
                </tr>
            </thead>

            <tbody>

                <tr ng-repeat="item in items | filter:text | filter:(!all || '') && options | orderBy:'purchase' track by $index">

                    <td><input class="form-control" type="text" ng-model="item.purchase" ng-readonly="item.status" ng-dblclick="Rename(item)"
                            ng-blur="onBlur($event,item)" /></td>

                    <td><input type="checkbox" ng-model="item.done" /></td>
                </tr>
            </tbody>
        </table>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src=app.js></script>
    <script src=controler.js></script>

</body>

</html>